<div class="auth-page">
  <div class="auth-container">
    <div class="auth-card">
      <div class="auth-logo">
        <div class="logo-circle"></div>
        <h1>تسجيل الدخول</h1>
        <p class="welcome-text">مرحباً بعودتك! الرجاء إدخال بياناتك للمتابعة</p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="signIn()" class="auth-form">
        <!-- Email -->
        <div class="form-group">
          <div class="input-group">
            <input type="email" id="email" class="form-control" placeholder=" " formControlName="email" />
            <label for="email">البريد الإلكتروني</label>

            <div *ngIf="getControl('email')?.invalid && (getControl('email')?.dirty || getControl('email')?.touched)"
              class="error">
              <small *ngIf="getControl('email')?.errors?.['required']">الإيميل مطلوب</small>
              <small *ngIf="getControl('email')?.errors?.['email']">صيغة غير صحيحة</small>
            </div>
          </div>
        </div>

        <!-- Password -->
        <div class="form-group">
          <div class="input-group">
            <input #passwordInput [type]="isPasswordVisible ? 'text' : 'password'" id="password" class="form-control"
              placeholder=" " formControlName="password" />
            <label for="password">كلمة المرور</label>

            <button type="button" class="toggle-password" (click)="togglePassword()">
              إظهار/إخفاء
            </button>
          </div>

          <div
            *ngIf="getControl('password')?.invalid && (getControl('password')?.dirty || getControl('password')?.touched)"
            class="error">
            <small *ngIf="getControl('password')?.errors?.['required']">كلمة المرور مطلوبة</small>
            <small *ngIf="getControl('password')?.errors?.['minlength']">لازم تكون 6 أحرف على الأقل</small>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid || isLoading">
          <span>تسجيل الدخول</span>
        </button>
      </form>

      <div class="divider"><span>أو</span></div>

      <div class="auth-footer">
        <p>ليس لديك حساب؟ <a href="#" class="text-link">إنشاء حساب</a></p>
      </div>
    </div>
  </div>
</div>